.cmc-helper-earn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;

    &:not(:last-child) {
        margin-bottom: 4px;
    }

    img {
        width: 16px;
        height: 16px;
    }
}

.cmc-helper-earn--max {
    color: #16c784;
}
